<div class="page-header">
	<h1><%= @name %></h1>
</div>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-default navbar-btn" ><%= link_to "add pics", controller: "photos", action: "new"%> 
	</button>
	<button type="button" class="btn btn-default " ><%= link_to "Back", controller: "users", action: "index"%>
	</button>
</div>
<div class = "container">			
	<div id = "photos">
		<% @allPics.each do |photo| %>
			<br>
			<%= image_tag photo.file_name %> 
			<br>
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default navbar-btn" ><%= link_to "Tag Someone", controller: "photos", action: "newTag", id: photo.id %>
				</button>
				
				<% if session[:user] %>
				<button type="button" class="btn btn-default navbar-btn" >
				<%= link_to "New Comment", controller: "comments", action: "new", id: photo.id %>
				<% end %>
				</button>
			</div>	
			<br>
			<%  photo.comments.each do |comment|  %> 
				<p><%= comment.comment%></p>
				<% name = comment.user.first_name + " " + comment.user.last_name %>		
				<%= link_to name, controller: "photos", action: "index", id: comment.user.id %>
				<%= comment.date_time %>
			<% end %>
		<% end %>			
	</div>
</div>
